.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
    max-width: 1700px;
}

.card{
    background: none;
    cursor: pointer;
    display: block;
    max-width: 280px;
    height: 350px;
    border: 1px solid white;
    border-radius: 20px;
}

.card:hover{
    background-color: grey;
}

.card img{
    height: 70%;
}

.card p{
    text-align: center;
    padding: 1rem;
}